# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Data & Models
data/
*.hdf5
*.pt
